<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ChenBahaCareer.fitbookskeleton"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" >
    </uses-feature>

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.ChenBahaCareer.fitbookskeleton.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ChenBahaCareer.fitbookskeleton.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_final"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".Initialize">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraFunction"
            android:label="@string/title_activity_camera_function" >
        </activity>
        <activity
            android:name=".profile"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".physique_page"
            android:label="@string/title_activity_physique_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegisterMenu"
            android:label="@string/title_activity_register_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TrainingActivity"
            android:screenOrientation="portrait" />
        <activity
        android:name=".TrainingActivityClone"
        android:screenOrientation="portrait" />
        <activity
            android:name=".SharePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchFriends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Workouts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FriendProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkoutsNoEdits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainingFriend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkoutFriend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

<!--                   IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="com.ChenBahaCareer.fitbookskeleton" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".FriendProfileBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.ChenBahaCareer.fitbookskeleton.UPDATE_STATUS" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/push_icon" />
    </application>

</manifest>
